 <!-- About Section -->

 <section class="success" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>About</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
              <p>Hudzaifah Hafiz has start to read about Programming since early years of toddler. Graduated Bachelor of Computer Science in 2005. 
                Then, started working as Associate IT Officer in September 2005 until February 2006. Then he start working at Encoral Digital Solution for 8 years. </p>
          </div>
          <div class="col-lg-4">
              <p> </p>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="https://github.com/hudz" class="btn btn-lg btn-outline">
                  <i class="fa fa-download"></i> hudz@github
              </a>
          </div>
      </div>
  </div>
</section>

